<!DOCTYPE html>
<html>

<head>
    <title>Twitter Chatbot</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>


<body class="bg-gray-100 h-screen">
    <div class="bg-gray-800">
        <header class=" flex items-center justify-between w-full px-10 py-5 text-white max-w-[1800px] mx-auto">
            <a href="/" class="">
                <h1 class=" font-bold text-2xl">X chat-bot</h1>
            </a>
            <a href="/setup"
                class="text-white text-center font-semibold shadow-md border rounded-sm bg-slate-800 hover:bg-slate-500 cursor-pointer px-4 py-2">
                Setup account
            </a>
        </header>
    </div>
    <div class="bg-white shadow-lg">
        <nav class="flex items-center justify-between w-full px-10 py-3 mb-4 max-w-[1800px] mx-auto">
            <h1 class="font-bold">Edit API keys</h1>
            <div class="flex items-center gap-2 font-semibold">
                <a href="/">Home</a>>
                <a href="#">APIKEYS</a>
            </div>
        </nav>
    </div>
    <div class="px-10 flex items-center justify-center">
        <main
            class="max-w-[1080px] w-full p-8 flex flex-col gap-6 items-center justify-center bg-white rounded-sm shadow-lg">
            <div class="border p-4 rounded-sm shadow-xl">
                <form action="/api/edit_credentials" method="post">
                    <div class="border p-4 rounded-sm">
                        <h2 class="text-lg font-bold text-center mb-6">Available Keys:</h2>
                        <ul class="flex flex-col gap-4">
                            <li class="flex items-center justify-between px-6 gap-6">
                                <label for="twitter_api_key">twitter_api_key</label>
                                <%- user.twitter_api_key ? '✓' : '✗' %>
                            </li>
                            <li class="flex items-center justify-between px-6 gap-6">
                                <label for="twitter_api_secret">twitter_api_secret</label>
                                <%- user.twitter_api_secret ? '✓' : '✗' %>
                            </li>
                            <li class="flex items-center justify-between px-6 gap-6">
                                <label for="twitter_access_token">twitter_access_token</label>
                                <%- user.twitter_access_token ? '✓' : '✗' %>
                            </li>
                            <li class="flex items-center justify-between px-6 gap-6">
                                <label for="twitter_access_secret">twitter_access_secret</label>
                                <%- user.twitter_access_secret ? '✓' : '✗' %>
                            </li>
                            <li class="flex items-center justify-between px-6 gap-6">
                                <label for="twitter_bearer_token">twitter_bearer_token</label>

                                <%- user.twitter_bearer_token ? '✓' : '✗' %>
                            </li>
                            <li class="flex items-center justify-between px-6 gap-6">
                                <label for="groq_api_key">groq_api_key</label>
                                <%- user.groq_api_key ? '✓' : '✗' %>
                            </li>
                        </ul>
                    </div>

                    <label class="text-lg text-start w-full font-bold text-slate-600" for="keyDiv">Select key to save:
                    </label>
                    <div id="keyDiv" class="flex items-center justify-between gap-4">
                        <select class="p-2 shadow-lg rounded-sm" name="name" required>
                            <option value="twitter_api_key">twitter_api_key</option>
                            <option value="twitter_api_secret">twitter_api_secret</option>
                            <option value="twitter_access_token">twitter_access_token</option>
                            <option value="twitter_access_secret">twitter_access_secret</option>
                            <option value="twitter_bearer_token">twitter_bearer_token</option>
                            <option value="groq_api_key">groq_api_key</option>
                        </select>
                        <div class="w-full flex items-center justify-end gap-4">
                            <input name="value" class="border rounded-sm p-2" type="password" id="keyValue"
                                placeholder="value" required>
                        </div>
                    </div>
                    <button type="submit"
                        class="mt-6 text-white text-nowrap text-center font-semibold shadow-md border rounded-sm bg-slate-800 hover:bg-slate-500 cursor-pointer px-4 py-2">
                        Save credentials </button>
                </form>
            </div>
        </main>
    </div>


    <script src="/script.js"></script>


</body>

</html>